

<app-new-client
[isVisible]="NewPanelIsVisible"
(onHide)="NewPanelIsVisible=false"
(onSubmit)="handleSubmitNewItem($event)"
></app-new-client>

<app-edit-client
    [item]="selectedItem"
    [isVisible]="EditPanelIsVisible"
    (onHide)="EditPanelIsVisible=false"
    (onSubmit)="handleSubmitEditItem($event)"
  ></app-edit-client>

<div>
  <div class="row">
    <div class="col-12">
      <h2>Admin Client</h2>
    </div>

    <div class="col-12 my-3">
      <p-button
        label="New"
        (click)="NewPanelIsVisible=true"
      ></p-button>
    </div>


    <div class="col-12">
      <app-table-items
        [items]="items"
        (onShowDetails)="selectedItem = $event; DetailsPanelIsVisible = true"
        (onShowEdit)="selectedItem = $event; EditPanelIsVisible = true"
        (onDelete)="handleDeleteClient($event)"
      ></app-table-items>
    </div>
  </div>
</div>